header{
  background-color: cyan;
  font-size: 33px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.a{
  font-size: 63px;
  margin-left:80%;
}
/* form stylesheet */
.main{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  text-align: center;
  justify-content: space-around;
}
.career{
  width: 90%;
  background-color:cyan;
  margin: 1%;
  padding: 2%;
  text-align: center;
  border: 3px solid #000000;
  box-shadow: 3px 3px 3px 3px #000;
}
.career input{
  width: 80%;
}
.sub{
  width: 40%;
  background-color: cyan;
  margin: 1%;
  padding: 2%;
  text-align: center;
  border: 3px solid #000000;
  box-shadow: 3px 3px 3px 3px #000;
}
.sub input,.sub select{
  width: 90%;
  padding: 2%;
  margin: 1%;
  font-size: 1 em;
}
button{
  font-size: 23px;
  font-weight: bold;
  padding: 1%;
  color: black;
}

/* designing styles for cards */

.cards{
  width: 93%;
  background: #DC143C;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}
.card{
  background: cyan;
  width: 40%;
  box-shadow: 2px 2px 2px black;
  text-align: center;
  padding: 1%;
  margin: 1%;
}
.left{
  width: 80%;
  background-color: cyan;
  box-shadow: 3px 3px 3px  3px black;
  border: 3px solid black;
}
.right{
  margin: 1%;
  padding: 1%;
  background-color: cyan;
  box-shadow: 5px 5px 5px black;
  border: 3px solid black;
  width: 80%;
}
@media screen and (min-width:320px) and (max-width:480px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 93%;
  }
}
@media screen and (min-width:481px) and (max-width:800px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 43%;
  }
}
@media screen and (min-width:801px) and (max-width:1500px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 28%;
  }
}
