header{
  background-color: cyan;
  font-size: 33px;
  color: black;
  font-weight: bold;
  text-align: center;
}
a{
  font-size: 63px;
  margin-left:80%;
}
/* form stylesheet */
.main{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  text-align: center;
  justify-content: space-around;
}
.career{
  width: 90%;
  background-color:cyan;
  margin: 1%;
  padding: 2%;
  text-align: center;
  border: 3px solid #000000;
  box-shadow: 3px 3px 3px 3px #000;
}
.career input{
  width: 80%;
}
.sub{
  width: 40%;
  background-color: cyan;
  margin: 1%;
  padding: 2%;
  text-align: center;
  border: 3px solid #000000;
  box-shadow: 3px 3px 3px 3px #000;
}
.sub input,.sub select{
  width: 90%;
  padding: 2%;
  margin: 1%;
  font-size: 1 em;
}
button{
  font-size: 23px;
  font-weight: bold;
  padding: 1%;
  color: black;
}

/* designing styles for cards */

.cards{
  width: 100%;
  background: #DC143C;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}
.card{
  background: cyan;
  width: 40%;
  box-shadow: 2px 2px 2px black;
  text-align: center;
  padding: 1%;
  margin: 1%;
}
.main{
  display: flex;
}
.leftDiv{
  width: 30%;
  background-color: cyan;
  border: 6px solid black;
  box-shadow: 3px 3px 3px black;
}
.rightDiv{
  margin: 1%;
  padding: 1%;
  background-color: cyan;
  border: 4px solid black;
}
